# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [3]:
# Calculate the total number of unique schools
school_count = school_count = len(school_data_complete["school_name"].unique())

In [4]:
# Calculate the total number of students
student_count = school_count = len(school_data_complete["student_name"].unique())

In [5]:
# Calculate the total budget
total_budget=school_data["budget"].sum()
total_budget

24649428

In [6]:
# Calculate the average (mean) math score
avg_math=student_data[("math_score")].mean()
avg_math

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
avg_reading=student_data[("reading_score")].mean()
avg_reading

81.87784018381414

In [8]:
overall_avg=((avg_math + avg_reading) /2)
overall_avg

80.43160582078121

In [9]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

89.77533241632278

In [10]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [11]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count / float(student_count) * 100
overall_passing_rate
#reading average
read_scor=school_data_complete.loc[school_data_complete["reading_score"]>=70]


by_read_PerSch= read_scor["school_name"].value_counts()
by_read_PerSch.head()


percent_read=by_read_PerSch/school_count*100
percent_read

Bailey High School       12.462173
Johnson High School      11.820266
Hernandez High School    11.456518
Rodriguez High School     9.805899
Figueroa High School      7.278007
Huang High School         7.250497
Wilson High School        6.736971
Ford High School          6.639156
Cabrera High School       5.511233
Wright High School        5.315604
Shelton High School       5.159713
Thomas High School        4.863213
Griffin High School       4.358857
Pena High School          2.821336
Holden High School        1.256304
Name: school_name, dtype: float64

In [12]:
District_Summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count],"Total Budget":[total_budget],
                                "Average Math Score":[avg_math], "Average Reading Score":[avg_reading], "% Passing Math":[passing_math_percentage],
                                "% Passing Reading":[passing_reading_percentage],"% Overall Passing Rate":[overall_avg]})
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,32715,32715,24649428,78.985371,81.87784,89.775332,102.735748,80.431606

In [13]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
    {
        "Total Schools": [school_count], 
        "Total Students": [student_count], 
        "Total Budget": [total_budget],
        "Average Math Score": [passing_math_percentage], 
        "Average Reading Score": [percent_read],
        "% Passing Math": [passing_math_percentage],
        "% Passing Reading": [passing_reading_percentage],
        "% Overall Passing": [overall_passing_rate]
    }
)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,32715,"32,715","$24,649,428.00",89.775332,Bailey High School 12.462173 Johnson Hig...,89.775332,102.735748,78.031484

In [14]:

###school_count= school_data_complete["school_name"].unique() #=== this is just for me to know the Diff the upper cell
#school_count
sch_count= len(school_data_complete["school_name"].unique())
sch_count

15

## School Summary

In [15]:
sch_count= len(school_data_complete["school_name"].unique())
sch_count

15

In [16]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [17]:
school_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [18]:
# Calculate the total student count
stu_per_sch=school_data_complete["school_name"].value_counts()
stu_per_sch.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [19]:
# Calculate the total school budget and per capita spending
sch_budget=school_data_complete.groupby(["school_name"])["budget"].mean()
sch_budget.head()

school_name
Bailey High School      3124928
Cabrera High School     1081356
Figueroa High School    1884411
Ford High School        1763916
Griffin High School      917500
Name: budget, dtype: int64

In [20]:
# Calculate the average test scores
avg_math_perSch=school_data_complete.groupby(["school_name"])["math_score"].mean()
avg_math_perSch.head()
avg_red_perSch= school_data_complete.groupby(["school_name"])["reading_score"].mean()
avg_red_perSch.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [21]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]

In [22]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
school_passing_reading

33610

In [23]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_passing_math

29370

In [24]:
avg_math_perSch.value_counts('school')
avg_math_perSch.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [25]:



by_read_PerSch.value_counts('school')
by_read_PerSch.head()

Bailey High School       4077
Johnson High School      3867
Hernandez High School    3748
Rodriguez High School    3208
Figueroa High School     2381
Name: school_name, dtype: int64

In [26]:
percent_math=school_passing_math/stu_per_sch*100
percent_math

Bailey High School        590.233119
Johnson High School       616.887209
Hernandez High School     633.656958
Rodriguez High School     734.433608
Figueroa High School      995.930824
Huang High School        1006.856359
Ford High School         1072.289157
Wilson High School       1286.465177
Cabrera High School      1580.731970
Wright High School       1631.666667
Shelton High School      1667.802385
Thomas High School       1796.330275
Griffin High School      2000.681199
Pena High School         3053.014553
Holden High School       6878.220141
Name: school_name, dtype: float64

In [27]:
overall=avg_math_perSch + percent_read/stu_per_sch
overall

school_name
Bailey High School       77.050937
Cabrera High School      83.064861
Figueroa High School     76.714235
Ford High School         77.105016
Griffin High School      83.354468
Hernandez High School    77.292224
Holden High School       83.806221
Huang High School        76.631899
Johnson High School      77.074946
Pena High School         83.842850
Rodriguez High School    76.845163
Shelton High School      83.362385
Thomas High School       83.421323
Wilson High School       83.277152
Wright High School       83.685175
dtype: float64

In [28]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
school_summery_df = pd.DataFrame({"School Type":school_types, "Total Students":stu_per_sch, "Total School Budget":sch_budget
                                ,"Per Student Budget":sch_budget,"Average Math Score" :avg_math_perSch,
                             "Average Reading Score":avg_red_perSch,
                             "% Passing Math":school_passing_math, "% Passing Reading":percent_read,
                            "% Overall Passing Rate":overall})
school_summery_df.head()

# Formatting
school_summery_df["Total School Budget"] = school_summery_df["Total School Budget"].map("${:,.2f}".format)
school_summery_df["Per Student Budget"] = school_summery_df["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
school_summery_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00","$3,124,928.00",77.048432,81.033963,29370,12.462173,77.050937
Cabrera High School,Charter,1858,"$1,081,356.00","$1,081,356.00",83.061895,83.975780,29370,5.511233,83.064861
Figueroa High School,District,2949,"$1,884,411.00","$1,884,411.00",76.711767,81.158020,29370,7.278007,76.714235
Ford High School,District,2739,"$1,763,916.00","$1,763,916.00",77.102592,80.746258,29370,6.639156,77.105016
Griffin High School,Charter,1468,"$917,500.00","$917,500.00",83.351499,83.816757,29370,4.358857,83.354468
Hernandez High School,District,4635,"$3,022,020.00","$3,022,020.00",77.289752,80.934412,29370,11.456518,77.292224
Holden High School,Charter,427,"$248,087.00","$248,087.00",83.803279,83.814988,29370,1.256304,83.806221
Huang High School,District,2917,"$1,910,635.00","$1,910,635.00",76.629414,81.182722,29370,7.250497,76.631899
Johnson High School,District,4761,"$3,094,650.00","$3,094,650.00",77.072464,80.966394,29370,11.820266,77.074946
Pena High School,Charter,962,"$585,858.00","$585,858.00",83.839917,84.044699,29370,2.821336,83.842850
Rodriguez High School,District,3999,"$2,547,363.00","$2,547,363.00",76.842711,80.744686,29370,9.805899,76.845163
Shelton High School,Charter,1761,"$1,056,600.00","$1,056,600.00",83.359455,83.725724,29370,5.159713,83.362385
Thomas High School,Charter,1635,"$1,043,130.00","$1,043,130.00",83.418349,83.848930,29370,4.863213,83.421323
Wilson High School,Charter,2283,"$1,319,574.00","$1,319,574.00",83.274201,83.989488,29370,6.736971,83.277152
Wright High School,Charter,1800,"$1,049,400.00","$1,049,400.00",83.682222,83.955000,29370,5.315604,83.685175

## Highest-Performing Schools (by % Overall Passing)

In [29]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
TopSch_df=school_summery_df.sort_values(["% Passing Math","% Passing Reading","% Overall Passing Rate" ], 
                                        ascending=False)
TopSch_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00","$3,124,928.00",77.048432,81.033963,29370,12.462173,77.050937
Johnson High School,District,4761,"$3,094,650.00","$3,094,650.00",77.072464,80.966394,29370,11.820266,77.074946
Hernandez High School,District,4635,"$3,022,020.00","$3,022,020.00",77.289752,80.934412,29370,11.456518,77.292224
Rodriguez High School,District,3999,"$2,547,363.00","$2,547,363.00",76.842711,80.744686,29370,9.805899,76.845163
Figueroa High School,District,2949,"$1,884,411.00","$1,884,411.00",76.711767,81.158020,29370,7.278007,76.714235

## Bottom Performing Schools (By % Overall Passing)

In [30]:
BottomSch_df=school_summery_df.sort_values("% Overall Passing Rate")

BottomSch_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Huang High School,District,2917,"$1,910,635.00","$1,910,635.00",76.629414,81.182722,29370,7.250497,76.631899
Figueroa High School,District,2949,"$1,884,411.00","$1,884,411.00",76.711767,81.158020,29370,7.278007,76.714235
Rodriguez High School,District,3999,"$2,547,363.00","$2,547,363.00",76.842711,80.744686,29370,9.805899,76.845163
Bailey High School,District,4976,"$3,124,928.00","$3,124,928.00",77.048432,81.033963,29370,12.462173,77.050937
Johnson High School,District,4761,"$3,094,650.00","$3,094,650.00",77.072464,80.966394,29370,11.820266,77.074946

In [31]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
BottomSch_df.style.format({"Total School Budget":"${:,.2f}","Per Student Budget":"${:,.2f}"})

ValueError: Unknown format code 'f' for object of type 'str'

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
math_9th_scores = student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['math_score'].mean()
math_9th_scores.head()
math_10th_scores = student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])['math_score'].mean()
math_10th_scores.head()
math_11th_scores = student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
math_11th_scores.head()
math_12th_scores = student_data.loc[student_data["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()
math_12th_scores.head()



# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_byGrad=pd.DataFrame({"9th":math_9th_scores, "10th": math_10th_scores, "11th":math_11th_scores, "12th":math_12th_scores})
math_byGrad

# Minor data wrangling
math_byGrad.index.name = None

# Display the DataFrame
math_byGrad

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = student_data.loc[student_data["grade"] == "9th" ].groupby(["school_name"])["reading_score"].mean()
ninth_graders_scores.head()
tenth_graders_scores = student_data.loc[student_data["grade"] == "10th" ].groupby(["school_name"])["reading_score"].mean()
tenth_graders_scores.head()
eleventh_graders_scores = student_data.loc[student_data["grade"] == "11th" ].groupby(["school_name"])["reading_score"].mean()
eleventh_graders_scores.head()
twelfth_graders_scores = student_data.loc[student_data["grade"] == "12th" ].groupby(["school_name"])["reading_score"].mean()
twelfth_graders_scores.head()


# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_byGrad=pd.DataFrame({"9th":ninth_graders,"10th":tenth_graders, "11th":eleventh_graders, "12th":twelfth_graders })
reading_byGrad

# Minor data wrangling

reading_byGrad.index.name = None

# Display the DataFrame
reading_byGrad

NameError: name 'school_data_complete' is not defined

## Scores by School Spending

In [ ]:
school_summery_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00","$3,124,928.00",77.048432,81.033963,29370,12.462173,77.050937
Cabrera High School,Charter,1858,"$1,081,356.00","$1,081,356.00",83.061895,83.975780,29370,5.511233,83.064861
Figueroa High School,District,2949,"$1,884,411.00","$1,884,411.00",76.711767,81.158020,29370,7.278007,76.714235
Ford High School,District,2739,"$1,763,916.00","$1,763,916.00",77.102592,80.746258,29370,6.639156,77.105016
Griffin High School,Charter,1468,"$917,500.00","$917,500.00",83.351499,83.816757,29370,4.358857,83.354468

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = school_summery_df.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_summery_df["Spending Ranges (Per Student)"] = pd.cut(int(school_summery_df["Per Student Budget"]), spending_bins, labels = ["<$585", "$585-630", "$630-645", "$645-680"], include_lowest= True)

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

NameError: name 'school_spending_df' is not defined

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [39]:
school_summery_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00","$3,124,928.00",77.048432,81.033963,29370,12.462173,77.050937
Cabrera High School,Charter,1858,"$1,081,356.00","$1,081,356.00",83.061895,83.975780,29370,5.511233,83.064861
Figueroa High School,District,2949,"$1,884,411.00","$1,884,411.00",76.711767,81.158020,29370,7.278007,76.714235
Ford High School,District,2739,"$1,763,916.00","$1,763,916.00",77.102592,80.746258,29370,6.639156,77.105016
Griffin High School,Charter,1468,"$917,500.00","$917,500.00",83.351499,83.816757,29370,4.358857,83.354468

In [40]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [41]:
type("School Size")

str

In [43]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

school_summery_df["School Size"] = pd.cut(school_summery_df["Total Students"],size_bins , labels=labels)
school_summery_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School Size
Bailey High School,District,4976,"$3,124,928.00","$3,124,928.00",77.048432,81.033963,29370,12.462173,77.050937,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00","$1,081,356.00",83.061895,83.975780,29370,5.511233,83.064861,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00","$1,884,411.00",76.711767,81.158020,29370,7.278007,76.714235,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00","$1,763,916.00",77.102592,80.746258,29370,6.639156,77.105016,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00","$917,500.00",83.351499,83.816757,29370,4.358857,83.354468,Medium (1000-2000)

In [45]:
# Calculate averages for the desired columns. 
size_math_scores = school_summery_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = school_summery_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = school_summery_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = school_summery_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = school_summery_df.groupby(["School Size"]).mean()["% Overall Passing"]

KeyError: '% Overall Passing'

In [46]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results
size_summary

NameError: name 'size_summary' is not defined

## Scores by School Type

In [33]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

SyntaxError: invalid syntax (888228207.py, line 2)

In [32]:
# Assemble the new data by type into a DataFrame called `type_summary`
scores_by_type= school_summery_df.drop(columns=["Total Students","Total School Budget", "Per Student Budget"])
scores_by_type.head()

# Display results
type_summary

NameError: name 'type_summary' is not defined